body{
    font-family: 'Acme', sans-serif;
    background: url("background.png");
}

h1{
    text-align: center;
    color: darkslateblue;
}

h2{
    text-align: center;
}

#table{
    margin-bottom: 40px;
}

#hash, #previousHash{
    text-decoration:tomato underline;
    color: darkslateblue;
}

h3{
    color: tomato;
    text-decoration:darkslateblue underline;
}
